<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ArtisanServlet</display-name>
    <servlet-name>ArtisanServlet</servlet-name>
    <servlet-class>Servlets.ArtisanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtisanServlet</servlet-name>
    <url-pattern>/ArtisanServlet</url-pattern>
  </servlet-mapping>
  <display-name>BricoConnect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeurServlet</display-name>
    <servlet-name>EmployeurServlet</servlet-name>
    <servlet-class>Servlets.EmployeurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeurServlet</servlet-name>
    <url-pattern>/EmployeurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OffreDeProjetServlet</display-name>
    <servlet-name>OffreDeProjetServlet</servlet-name>
    <servlet-class>Servlets.OffreDeProjetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OffreDeProjetServlet</servlet-name>
    <url-pattern>/OffreDeProjetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paiement</display-name>
    <servlet-name>Paiement</servlet-name>
    <servlet-class>Servlets.Paiement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paiement</servlet-name>
    <url-pattern>/Paiement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Postulation</display-name>
    <servlet-name>Postulation</servlet-name>
    <servlet-class>Servlets.Postulation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Postulation</servlet-name>
    <url-pattern>/Postulation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjetServlet</display-name>
    <servlet-name>ProjetServlet</servlet-name>
    <servlet-class>Servlets.ProjetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjetServlet</servlet-name>
    <url-pattern>/ProjetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtisanServlett</display-name>
    <servlet-name>ArtisanServlett</servlet-name>
    <servlet-class>Servlets.ArtisanServlett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtisanServlett</servlet-name>
    <url-pattern>/ArtisanServlett</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home_artisan</display-name>
    <servlet-name>Home_artisan</servlet-name>
    <servlet-class>Servlets.Home_artisan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home_artisan</servlet-name>
    <url-pattern>/Home_artisan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlett</display-name>
    <servlet-name>LoginServlett</servlet-name>
    <servlet-class>Servlets.LoginServlett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlett</servlet-name>
    <url-pattern>/LoginServlett</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllOffersServlet</display-name>
    <servlet-name>AllOffersServlet</servlet-name>
    <servlet-class>Servlets.AllOffersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllOffersServlet</servlet-name>
    <url-pattern>/AllOffersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleOffreServlet</display-name>
    <servlet-name>SingleOffreServlet</servlet-name>
    <servlet-class>Servlets.SingleOffreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleOffreServlet</servlet-name>
    <url-pattern>/SingleOffreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostulationServlet</display-name>
    <servlet-name>PostulationServlet</servlet-name>
    <servlet-class>Servlets.PostulationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostulationServlet</servlet-name>
    <url-pattern>/PostulationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Homeartisan</display-name>
    <servlet-name>Homeartisan</servlet-name>
    <servlet-class>Servlets.Homeartisan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homeartisan</servlet-name>
    <url-pattern>/Homeartisan</url-pattern>
  </servlet-mapping>
</web-app>